<nav class="navbar navbar-expand-md navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Intro To Angular</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="/angular-basics" class="nav-link">Angular Basics</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/simple-todo" class="nav-link">Simple ToDo</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/todo-list" class="nav-link">Advanced ToDo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />