<div class="container">
    <!-- 2 -->
    <h3>String Interpolation</h3>
    <br>
    <p>{{greetings}}, Today were gonna write some {{getLanguage()}}</p>
    <hr>
    <!-- 2 -->

    <h3>Property binding</h3>
    <br>
    <!-- 3 -->
    <button class="btn btn-primary" [disabled]="!enableBoundButton">Bound Button</button>
    <!-- 3 -->

    <!-- 4 -->
    <p>{{enableBoundButton}}</p>
    <p>{{enableBoundButton ? 'Button is enabled' : 'Button is disabled'}}</p>
    <p [innerText]="enableBoundButton"></p>
    <!-- 4 -->
    <hr>

    <!-- 5 -->
    <h3>Event binding</h3>
    <br>
    <button class="btn btn-outline-info" (click)="makeAnAction()">Make an action</button>
    <!-- 5 -->

    <!-- 5.1 -->
    <br>
    <br>
    <input placeholder="Input Text" class="form-control" type="text" (input)="onInput($event)">
    <br>
    {{inputText}}
    <hr>
    <!-- 5.1 -->

    <!-- 6 -->
    <h3>Two way binding</h3>
    <br>
    <input placeholder="Input Text" class="form-control" type="text" [(ngModel)]="inputText">
    <hr>
    <!-- 6 -->

    <!-- 7 -->
    <h3>Component Input</h3>
    <br>
    <app-task task="Create app documentation"></app-task>
    <hr>
    <!-- 7 -->

    <!-- 8 -->
    <h3>*ngIf</h3>
    <br>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="allowNewTask">
        <label class="custom-control-label" for="customCheck1">Allow New Task</label>
    </div>
    <br>
    <div *ngIf="allowNewTask; else notAllowed">
        <input placeholder="Task Description" class="form-control" type="text" [(ngModel)]="newTask">
        <br>
        <button class="btn btn-primary" (click)="onAddNewTask()">Add New Task</button>
    </div>
    <ng-template #notAllowed>New Tasks are not allowed</ng-template>
    <hr>
    <!-- 8 -->

    <!-- 9 -->
    <h3>*ngFor</h3>
    <br>
    <div *ngFor="let task of taskList">
        <app-task [task]="task"></app-task>
    </div>
    <hr>
    <!-- 9 -->
</div>